@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
body{
  background-color:#D5F5E3  ;
  font-family: raleway;
  font-size:50px;

}
a{
  font-size:20px;
  text-decoration:none;
  margin:20px;
  font-family:raleway;
  color:#95a5a6;

}
a:hover{
  color: #3498db;
  border-bottom-color: #3498db;
}
i{
margin:10px;
}
nav{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  background-color: #243242;
  border-radius:10px;
  opaity:0.4;

}
.container{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  background-color: #486484;
  margin-top: 200px;
}

.middle {
  background: #2d3f52;

}

.box:hover {
  background: #99ccff;
}

h3 {
  font-size: 30px;
}
