body {
  margin: 0 0 0 0;
  background-color: #2c3e50;
  animation-name: suncycle;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.grass {
  background: green;
  height: 600px;
  width: 100%;
  position: absolute;
}

.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: sunmotion;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;

}
@keyframes sunmotion {
  0% {
    transform: translate(-200px, 200px);
    background: #d35400;
  }
  25% {
    transform: translate(150px, 0px);
    background: #f1c40f;
  }
  50% {
    transform: translate(500px, -50px);
  }
  75% {
    transform: translate(850px, 0px);
    background: #f1c40f;
  }
  100% {
    transform: translate(1200px, 200px);
    background: #e74c3c;
  }
}

@keyframes suncycle {
  0% {
    background: #2c3e50;
  }
  10% {
    background: pink;
  }
  30% {
    background: #3498db;
  }
  70%{
    background: #3498db;
  }
  90% {
    background: pink;
  }
  100% {
    background: #2c3e50;
  }
}
